<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="commonFooter">
    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-2">
                <p>About Us</p>
            </div>

            <div class="col-sm-2">
                <p>Support</p>
            </div>

            <div class="col-sm-2">
                <p>Terms Conditions</p>
            </div>

            <div class="col-sm-2">
                <p>Team</p>
            </div>

            <div class="col-sm-2">
                <p>Careers</p>
            </div>

            <div class="col-sm-2">
                <p>Gallery</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
