<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace ="common/postloginHeader :: common-header"></head>

<body>
<div th:replace="common/postloginHeader :: postLoginNavBar"></div>

<br /><br /><br />
<div class="tab">
    <button class="tablinks" onclick="openAccountSection(event, 'profile')" id="defaultOpen">My Profile</button>
    <button class="tablinks" onclick="openAccountSection(event, 'order')">My Orders</button>
    <button class="tablinks" onclick="openAccountSection(event, 'address')">Saved Addresses</button>
    <button class="tablinks" onclick="openAccountSection(event, 'payment')">Payment</button>
    <button class="tablinks" onclick="openAccountSection(event, 'offers')">Offers</button>
</div>

<div id="profile" class="tabcontent">
    <p>Profile Section</p>
</div>

<div id="order" class="tabcontent">
    <p>Order section</p>
</div>

<div id="address" class="tabcontent">
    <p>Address section</p>
</div>

<div id="payment" class="tabcontent">
    <p>Payment section</p>
</div>

<div id="offers" class="tabcontent">
    <p>Offers section</p>
</div>

<script>
    //<![CDATA[
    function openAccountSection(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();

    //]]>
</script>
<div th:replace="common/postloginHeader :: footer"></div>
</body>
</html>