<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace ="common/commanheader :: common-header"></head>
<body>

<div class="cotn_principal">

    <div th:replace="common/commanheader :: postLoginNavBar"></div>

    <div class="col_md_login">test</div>
    <!--<div class="container text-center">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Booze points" />
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">BURP!</button>
                </span>
            </div>
            <br/><br/>
            <div class="col-lg-12">
                <p>Place for caraousel</p>
            </div>
        </div>
    </div>-->

   <!-- <div class="container-fluid bg-3 text-center">
        <h3>Booze Points Near You</h3><br />
        <div class="row">
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
        </div>
    </div><br />

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-3">

                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" />
            </div>
        </div>
    </div><br /><br />
-->

<div th:replace="common/commanheader :: footer"></div>
</div>
</body>

<script>

    function cambiar_login() {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";
        document.querySelector('.cont_form_login').style.display = "block";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";

        setTimeout(function(){  document.querySelector('.cont_form_login').style.opacity = "1"; },400);

        setTimeout(function(){
            document.querySelector('.cont_form_sign_up').style.display = "none";
        },200);
    }

    function cambiar_sign_up(at) {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
        document.querySelector('.cont_form_sign_up').style.display = "block";
        document.querySelector('.cont_form_login').style.opacity = "0";

        setTimeout(function(){  document.querySelector('.cont_form_sign_up').style.opacity = "1";
        },100);

        setTimeout(function(){   document.querySelector('.cont_form_login').style.display = "none";
        },400);


    }



    function ocultar_login_sign_up() {

        document.querySelector('.cont_forms').className = "cont_forms";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";
        document.querySelector('.cont_form_login').style.opacity = "0";

        setTimeout(function(){
            document.querySelector('.cont_form_sign_up').style.display = "none";
            document.querySelector('.cont_form_login').style.display = "none";
        },500);

    }

</script>

</html>